APP_NAME=development
APP_PORT=8100
APP_SERVICE=http://service-backend:8080
APP_SERVICE_PREFIX=api
APP_SOCKET_SERVICE=ws://service-backend:8080
APP_SOCKET_PREFIX=ws
APP_VERSION_MODE=Development
APP_SECRET_KEY=lytiywnxmnqyupoiwytghke
