APP_NAME=development
APP_PORT=8100
APP_SERVICE=https://apipms.qeveria.co.id
APP_SERVICE_PREFIX=api
APP_SOCKET_SERVICE=wss://apipms.qeveria.co.id
APP_SOCKET_PREFIX=ws
APP_VERSION_MODE=Development
APP_SECRET_KEY=lytiywnxmnqyupoiwytghke
