APP_NAME=development
APP_PORT=8100
APP_SERVICE=http://172.22.251.5:9494
APP_SERVICE_PREFIX=api
APP_SOCKET_SERVICE=ws://172.22.251.5:9494
APP_SOCKET_PREFIX=ws
APP_VERSION_MODE=Development
APP_SECRET_KEY=lytiywnxmnqyupoiwytghke
